.animate-right {
  position: relative;
  -webkit-animation-name: animateright;
  -webkit-animation-duration: 1s;
  animation-name: animateright;
  animation-duration: 1s;
}

@-webkit-keyframes animateright {
  from {
    right: -100px;
    opacity: 0;
  }

  to {
    right: 0;
    opacity: 1;
  }
}

@keyframes animateright {
  from {
    right: -100px;
    opacity: 0;
  }

  to {
    right: 0;
    opacity: 1;
  }
}
