:root {
  --font-color: rgb(102, 102, 102);
  --background-color: #eee;
  --link-color: rgb(71, 76, 85);
  --channel-color: rgb(111, 112, 112);
}

[data-theme="dark"] {
  --font-color: #eee;
  --background-color: rgb(124, 124, 124);
  --link-color: peachpuff;
  --channel-color: rgb(190, 190, 190);
}

body {
  background-color: var(--background-color) !important;
  color: var(--font-color) !important;
}

a {
  color: var(--font-color) !important;
  text-decoration: none !important;
}

/* .light-content {
  background: #fff;
  color: black;
}

.dark-content {
  background: #a1a1a1;
  color: white;
} */
