:root {
  --primary-color: #01afd1;
  --secondary-color: #043263;
  --accent-color: #dbe5ff;
}

body {
  font-family:
    -apple-system,
    'BlinkMacSystemFont',
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

.light-content {
  background: #fff;
  color: black;
}

.dark-content {
  background: #a1a1a1;
  color: white;
}
