.video-card {
  background-color: transparent !important;
  width: inherit;
  height: 220px;
  display: grid;
  word-break: break-all;

  /* align-content: space-around; */
}

.video-card header {
  display: flex;
  justify-content: center;
  max-width: 100%;
  height: 170px;
  align-items: center;
  background-color: rgb(224, 224, 224);
  border-radius: 15px;
  overflow: hidden;
}

.video-card img {
  max-width: 100%;
  max-height: 100%;

  /* object-fit: cover;
  height: 200px;
  background-color: rgb(146, 146, 146);
  border-radius: 20px !important; */
}

.video-card footer {
  padding: 5px;
  color: black;
}

.video-card footer div {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.video-title {
  color: black;
}

.video-uploader {
  color: darklightslategraygrey !important;
}

.video-feature {
  color: gray !important;
}
