.videoMatrix {
    display: inline-block;
}
/* .list {
    display: inline-block;
    cursor: pointer;
    margin: 10px;
  }
  
  .card {
    max-width: 270px;
  }
  
  .card:hover {
    background-color: var(--accent-color);
  }
  
  .card img {
    border-radius: 30px;
    display: inline-block;
    max-height: 290px;
    max-width: 270px;
  }
    
  .content a {
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    font-size: 1.1em;
    padding-top: 2px;
    color: black;
  }
  
  .content a:hover {
    color: var(--secondary-color);
  }
   */