.navbar-custom {
  background-color: var(--background-color);
  color: var(--font-color);
}

.navbar-custom button {
  color: var(--font-color);
}

.navbar-custom div {
  color: var(--font-color);
}

.dropdown-toggle:hover {
  color: var(--font-color) !important;
}

.custom-dropdown-menu {
  background-color: var(--background-color) !important;
  text-align: center !important;
}

.logo {
  width: 260px;
  margin: 5px;
  filter: contrast(160%);
}

.logospan {
  /* background-color: rgb(255, 201, 14); */
  border-radius: 15px;
}
