table {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}

th {
  border-bottom: 2px solid var(--font-color);
  padding: 15px;
  font-size: 15px;
}

td {
  border-bottom: 1px solid var(--font-color);
  padding: 11px;
  font-size: 15px;
}

tr:nth-child(even) {
  background-color: #bdbdbd;
}

.view-slider {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.toggle-view {
  position: relative;
  display: inline-block;
  height: 34px;
  width: 60px;
  margin-inline: 10px;
}

.toggle-view input {
  display: none;
}
