table {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}

th {
  border-bottom: 2px solid black;
  padding: 15px;
  font-size: 15px;
}

td {
  border-bottom: 1px solid white;
  padding: 11px;
  font-size: 15px;
}

tr:nth-child(even) {
  background-color: #bdbdbd;
}
